@charset "utf-8";

$sage: rgb(170, 177, 166);
$sage-background: rgb(242, 239, 234);
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;


// Overwrite Bulma
$primary: $sage;

$link: $sage;
$body-background-color: $sage-background;


// centered navbar
.navbar-start {
  margin-left: auto;
  margin-right: auto;
}

// Import Bulma
@import "../node_modules/bulma/bulma.sass";


// user

.is-header {
    background-image: url("../images/rm119batch3-ning-04c-olive.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}





.has-text-sage {
    color: $sage;
}
